.predications {
    position: absolute;
    display: inline-block;
    z-index: 1000;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.0784314) 10px 10px 20px 0;
    border: 1px solid #3c8dbc;
}

.predication {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    text-align: left;
}
.predication span {color: #9b9b9b}
.predication:hover {background-color: #3c8dbc; color: white}
.predication:not(:first-child) {border-top: 1px solid #E4E4E4}