.list-group {
    cursor: pointer;
}
.list-group.level-0 {
    opacity: 0;
}
.list-group:not(.level-0) {
    padding: 0 0 0 20px;
    margin: 10px 0 0 0;
}
.list-group:not(.level-0) li {
    border-left: none;
    border-radius: 0 4px 4px 0;

}
[class*=option] {
    float: right;
}
.option-edit {
    margin: 2px 5px 0 0;
}

.category-wrapper .chosen-container-single {
    height: 34px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 34px;
    border: 1px solid #ccc;
}
.category-wrapper .chosen-single {
    background: none !important;
    border: none !important;
    box-shadow: none;
}

.category-wrapper .chosen-drop {
    width: calc(100% + 2px);
    margin-left: -1px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0;
    box-shadow: none;
}