* {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none
}

@-ms-viewport {
    width: device-width
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar
}

*,
:after,
:before {
    box-sizing: inherit
}

body,
html {
    background: #c4dff2;
    height: 100%;
    min-height: 100%;
    font-family: Arial, sans-serif;
    min-width: 320px
}

.media-poupop .media-content {
    background: #fff;
    width: 90%;
    border: 1px solid #2ea3f2;
    box-shadow: 0 0 10px #2ea3f2;
    position: fixed;
    top: 20%;
    left: 5%;
    z-index: 12
}

.media-poupop .media-content .close {
    font-size: 35px;
    position: absolute;
    right: 0;
    top: 0;
    color: #2ea3f2;
    padding: 5px 10px;
    z-index: 9
}

.media-poupop .blocked-poupop {
    background: rgba(0, 0, 0, .5);
    min-width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 11
}

.pop100 {
    width: 40%;
    background-color: #fff;
    border: 1px solid #2ea3f2;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 200;
    display: none;
}
.pop100 .head {
    border-bottom: 1px solid #2ea3f2;
    margin-bottom: 20px;
}
.pop100 .head h3 {
    text-align: center;
    color: #2ea3f2;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pop100 .body .perfectmoney {
    width: 25%;
    margin: auto;
    border: 1px solid #000;
    box-shadow: 3px 3px 10px #000;
    margin-bottom: 20px;
    cursor: pointer;
}
.pop100 .body .perfectmoney img{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.pop100block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 199;
    display: none;
}

.pop1000 {
    width: 40%;
    background-color: #fff;
    border: 1px solid #2ea3f2;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 200;
    display: none;
}
.pop1000 .head {
    border-bottom: 1px solid #2ea3f2;
    margin-bottom: 20px;
}
.pop1000 .head h3 {
    text-align: center;
    color: #2ea3f2;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pop1000 .body .perfectmoney {
    width: 25%;
    margin: auto;
    border: 1px solid #000;
    box-shadow: 3px 3px 10px #000;
    margin-bottom: 20px;
    cursor: pointer;
}
.pop1000 .body .perfectmoney img{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.pop1000block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 199;
    display: none;
}

.pop5000 {
    width: 40%;
    background-color: #fff;
    border: 1px solid #2ea3f2;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 200;
    display: none;
}
.pop5000 .head {
    border-bottom: 1px solid #2ea3f2;
    margin-bottom: 20px;
}
.pop5000 .head h3 {
    text-align: center;
    color: #2ea3f2;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pop5000 .body .perfectmoney {
    width: 25%;
    margin: auto;
    border: 1px solid #000;
    box-shadow: 3px 3px 10px #000;
    margin-bottom: 20px;
    cursor: pointer;
}
.pop5000 .body .perfectmoney img{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.pop5000block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 199;
    display: none;
}

.main-menu {
    width: 40px;
    display: none
}

.main-menu .bar {
    background: #fff;
    width: 100%;
    height: 5px;
    margin-bottom: 7px;
    border: 1px solid #000;
    box-shadow: 0 0 6px #000;
}

p.hidden {
    display: none;
}

span.open-hidden {
    color: #072cf8;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
span.open-hidden:hover {
    text-decoration: underline;
}

header {
    background: url(../img/header-banner.jpg) no-repeat fixed 0/cover;
    min-height: 100vh;
    overflow: hidden
}

header .nav {
    background: rgba(0, 0, 0, .0);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10
}

header .nav .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

header .nav .container .logo img {
    padding-top: 5px
}

header .nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

header .nav nav ul li {
    padding-left: 15px;
    padding-right: 15px
}

header .nav nav ul a {
    color: #fff;
    text-align: center;
    font-size: 17px;
    transition: color .5s
}

header .nav nav ul a:hover {
    color: #2ea3f2
}

.lang-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
a.lang-link {
   color: #fff;
    padding: 5px;
}

a.lang-active {
    color: #2ea3f2
}

.enter {
    color: #fff;
    margin-right: 10px;
    transition: .5s;
}

.register {
    color: #fff;
    margin-left: 10px;
    transition: .5s;
}

.enter:hover, .register:hover {
    color: #2ea3f2;
}

.many {
    position: fixed;
    bottom: 50px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    box-shadow: 0px 0px 5px #000;
    padding: 10px;
    z-index: 30;
}

.many a {
    padding: 10px;
    color: #fff;
    text-shadow: 0px 0px 3px;
    text-transform: uppercase;
    transition: .5s;
}

.many a:hover {
    color: #2ea3f2;
}

header .home-content {
    margin-top: 150px
}

header .home-content .container {
    width: 100%
}

header .home-content .container .logo img {
    display: block;
    margin: 0 auto 20px;
    width: 350px
}

header .home-content .container .content p {
    text-align: center;
    color: #fff;
    font-weight: 700
}

header .home-content .container .content .first {
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px #000;
}

header .home-content .container .content .last {
    font-size: 18px;
    padding-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff900
}

header .home-content .container .content .poupop-media-btn {
    border: 3px solid #2ea3f2;
    width: 255px;
    margin: 50px auto 0
}

header .home-content .container .content .poupop-media-btn a {
    background: rgba(0, 0, 0, .5);
    color: #fd0038;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    display: block;
    transition: .5s
}

header .home-content .container .content .poupop-media-btn a:hover {
    color: #2ea3f2
}

.wrapper {
    overflow: hidden;
    min-width: 100%
}

.wrapper h1 {
    color: #505050;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 30px
}

.wrapper .group-dividers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px
}

.wrapper .group-dividers .divider {
    background: #2ea3f2;
    height: 1px;
    width: 20%;
    margin-top: 8px
}

.wrapper .group-dividers .icon {
    padding-left: 30px;
    padding-right: 30px;
    color: #2ea3f2;
    font-size: 18px
}

.wrapper .cig {
    background: url(../img/bgcig.jpg) no-repeat fixed 0/cover;
    padding-bottom: 30px;
    padding-top: 80px;
    margin-top: -80px;
    position: relative
}

.wrapper .cig h1 {
    background: #2ea3f2;
    color: #fff
}

.wrapper .cig .divider {
    background: #fff
}

.wrapper .cig .icon {
    color: #fff
}

.wrapper .cig .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%
}

@media (min-width:576px) {
    .wrapper .cig .container {
        width: 540px
    }
}

@media (min-width:768px) {
    .wrapper .cig .container {
        width: 720px
    }
}

@media (min-width:992px) {
    .wrapper .cig .container {
        width: 960px
    }
}

@media (min-width:1200px) {
    .wrapper .cig .container {
        width: 1300px
    }
}

.wrapper .cig .info {
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 0 10px #2ea3f2
}

.wrapper .cig p {
    color: #fff;
    font-size: 18px;
    padding: 15px;
    letter-spacing: 2px;
    line-height: 1.75em
}

.wrapper .cig p.header {
    text-align: center;
    font-size: 24px;
    color: #fff
}

.wrapper .services {
    padding-top: 80px;
    margin-top: -80px;
    position: relative
}

.wrapper .services h1 {
    background: #2ea3f2;
    color: #fff
}

.wrapper .services .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px
}

.wrapper .services .container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.wrapper .services .container .row .box {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

@media (min-width:768px) {
    .wrapper .services .container .row .box {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:992px) {
    .wrapper .services .container .row .box {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:1200px) {
    .wrapper .services .container .row .box {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:576px) {
    .wrapper .services .container .row .box .banner {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    .wrapper .services .container .row .box .banner {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:992px) {
    .wrapper .services .container .row .box .banner {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:1200px) {
    .wrapper .services .container .row .box .banner {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

.wrapper .services .container .row .box img {
    width: 100%
}

.wrapper .services .container .row .box .info {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

@media (min-width:576px) {
    .wrapper .services .container .row .box .info {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    .wrapper .services .container .row .box .info {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:992px) {
    .wrapper .services .container .row .box .info {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:1200px) {
    .wrapper .services .container .row .box .info {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

.wrapper .services .container .row .box .info h3 {
    color: #505050;
    margin-bottom: 10px
}

.wrapper .services .container .row .box .info p {
    color: #505050;
    font-size: 16px
}

.wrapper .package {
    padding-top: 80px;
    margin-top: -80px;
    padding-bottom: 20px;
    position: relative;
    z-index: 8
}

.wrapper .package .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%
}

@media (min-width:576px) {
    .wrapper .package .container {
        width: 540px
    }
}

@media (min-width:768px) {
    .wrapper .package .container {
        width: 720px
    }
}

@media (min-width:992px) {
    .wrapper .package .container {
        width: 960px
    }
}

@media (min-width:1200px) {
    .wrapper .package .container {
        width: 1140px
    }
}

.wrapper .package .container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.wrapper .package .container .box {
    background: #fff;
    border: 1px solid #505050;
    box-shadow: 0 3px 10px #000;
    padding-right: 0;
    padding-left: 0
}

@media (min-width:320px) {
    .wrapper .package .container .box {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    .wrapper .package .container .box {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

.wrapper .package .container .box .header {
    background: #2ea3f2;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 40px;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px
}

.wrapper .package .container .box:first-child .header,
.wrapper .package .container .box:last-child .header {
    background: #505050
}

.wrapper .package .container .box .money {
    border-bottom: 1px solid #505050;
    margin-left: -15px;
    margin-right: -15px
}

.wrapper .package .container .box .money p {
    font-size: 34px;
    text-align: center;
    color: #2ea3f2;
    padding-top: 20px;
    padding-bottom: 20px
}

.wrapper .package .container .box .money p sup {
    color: #505050;
    font-size: 18px
}

.wrapper .package .container .box .info {
    padding-top: 30px;
    padding-bottom: 30px
}

.wrapper .package .container .box .info img {
    display: block;
    width: 70%;
    margin: auto
}

.wrapper .package .container .box .info h4 {
    color: #505050;
    text-align: center;
    font-weight: 400;
    margin-top: 20px
}

.wrapper .package .container .box .info p {
    color: #ff0000;
    text-align: center;
    font-weight: 700;
    margin-top: 10px
}

.wrapper .package .container .box .info .last {
    color: #505050;
    font-size: 16px
}

.wrapper .package .container .box .info a {
    background: #fff;
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    padding: 10px 35px;
    border: 2px solid #2ea3f2;
    color: #2ea3f2;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: .5s
}

.wrapper .package .container .box .info a:hover {
    background: #2ea3f2;
    color: #fff
}

.wrapper .package .container .box1,
.wrapper .package .container .box3 {
    margin-top: 30px
}

.wrapper .package .container .box2 {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.wrapper .package .container p.last {
    font-size: 16px;
    text-align: center;
    margin-top: 10px
}

.wrapper .investments {
    background: #c4dff2;
    padding-bottom: 20px;
    padding-top: 80px;
    margin-top: -80px;
    position: relative;
    z-index: 7
}

.wrapper .investments h1 {
    padding-bottom: 10px;
}

.wrapper .investments h3 {
    color: #2ea3f2;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-align: center
}

.wrapper .investments .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%
}

@media (min-width:576px) {
    .wrapper .investments .container {
        width: 540px
    }
}

@media (min-width:768px) {
    .wrapper .investments .container {
        width: 720px
    }
}

@media (min-width:992px) {
    .wrapper .investments .container {
        width: 960px
    }
}

@media (min-width:1200px) {
    .wrapper .investments .container {
        width: 1140px
    }
}

.wrapper .investments .container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.wrapper .investments .container img {
    width: 100%
}

@media (min-width:320px) {
    .wrapper .investments .container .banner {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    .wrapper .investments .container .banner {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:320px) {
    .wrapper .investments .container .info {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    .wrapper .investments .container .info {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

.wrapper .investments .container .info p {
    color: #505050;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.75em
}

.wrapper .equipment {
    background: #fff;
    padding-top: 80px;
    margin-top: -80px;
    padding-bottom: 20px;
    position: relative;
    z-index: 6
}

.wrapper .equipment h2 {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    font-size: 18px;
    color: #505050
}

.wrapper .equipment .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%
}

@media (min-width:576px) {
    .wrapper .equipment .container {
        width: 540px
    }
}

@media (min-width:768px) {
    .wrapper .equipment .container {
        width: 720px
    }
}

@media (min-width:992px) {
    .wrapper .equipment .container {
        width: 960px
    }
}

@media (min-width:1200px) {
    .wrapper .equipment .container {
        width: 1350px
    }
}

.wrapper .equipment .container .equipment-slide .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width:320px) {
    .wrapper .equipment .container .equipment-slide .row .box {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    .wrapper .equipment .container .equipment-slide .row .box {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

.wrapper .equipment .container .equipment-slide h3 {
    text-align: center
}

.wrapper .equipment .container .equipment-slide img {
    width: 100%
}

.wrapper .equipment .container .equipment-slide h4 {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 15px;
}

.wrapper .equipment .container ol {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wrapper .equipment .container ol li {
    list-style: decimal;
    line-height: 1.75em;
    font-weight: 700
}

.wrapper .equipment .slick-next {
    right: -60px
}

.wrapper .equipment .slick-prev {
    left: -60px
}

.wrapper .equipment .slick-next:before,
.wrapper .equipment .slick-prev:before {
    color: #000;
    font-size: 40px
}

.wrapper .client {
    background: #2ea3f2;
    padding-top: 80px;
    margin-top: -80px;
    padding-bottom: 20px;
    position: relative;
    z-index: 5
}

.wrapper .client h1 {
    color: #fff
}

.wrapper .client .divider {
    background: #fff
}

.wrapper .client .icon {
    color: #fff
}

.wrapper .client p.header {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-bottom: 20px
}

.wrapper .client .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px
}

.wrapper .client .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.wrapper .client .info-client {
    background: #fff;
    border: 1px solid #bebebe;
    box-shadow: 0 0 10px #000
}

@media (min-width:320px) {
    .wrapper .client .info-client {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    .wrapper .client .info-client {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:992px) {
    .wrapper .client .info-client {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

.wrapper .client .info-client .photo-client {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #2ea3f2;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 0 2px 7px #2ea3f2
}

.wrapper .client .info-client .photo-client img {
    display: block
}

.wrapper .client .info-client .client-massege {
    font-size: 16px;
    color: #646464;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper .client .info-client .client-name {
    color: #2ea3f2;
    font-weight: 700;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 20px
}

.wrapper .partners {
    background: #fff;
    position: relative;
    z-index: 4
}

.wrapper .partners .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%
}

@media (min-width:576px) {
    .wrapper .partners .container {
        width: 540px
    }
}

@media (min-width:768px) {
    .wrapper .partners .container {
        width: 720px
    }
}

@media (min-width:992px) {
    .wrapper .partners .container {
        width: 960px
    }
}

@media (min-width:1200px) {
    .wrapper .partners .container {
        width: 1140px
    }
}

.wrapper .partners .partners-slider div {
    outline: none
}

.wrapper .partners .partners-slider img {
    width: 100%;
    padding: 20px
}

.wrapper .best {
    background: url(../img/bg-pr.jpg) no-repeat fixed 0/cover;
    padding-top: 80px;
    margin-top: -80px;
    padding-bottom: 30px;
    position: relative;
    z-index: 3
}

.wrapper .best h1 {
    color: #505050;
}

.wrapper .best .divider {
    background: #505050
}

.wrapper .best .icon {
    color: #505050
}

.wrapper .best .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px
}

.wrapper .best .container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.wrapper .best .container .row .best-box {
    background: #fff;
    box-shadow: 0 0 10px #000;
    text-align: center
}

@media (min-width:320px) {
    .wrapper .best .container .row .best-box {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    .wrapper .best .container .row .best-box {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:1200px) {
    .wrapper .best .container .row .best-box {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

.wrapper .best .container .row .best-box .fa {
    color: #2ea3f2;
    padding-top: 10px;
    font-size: 50px
}

.wrapper .best .container .row .best-box h3 {
    padding-top: 10px;
    color: #505050;
    text-transform: uppercase
}

.wrapper .best .container .row .best-box p {
    text-align: center;
    padding: 20px;
    color: #505050;
    font-style: normal;
    letter-spacing: 1px
}

.wrapper .best .container .row .delimiter {
    width: 100%;
    height: 1px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    border-bottom: 5px dotted #505050
}

@media (min-width:1200px) {
    .wrapper .best .container .row .delimiter {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

.wrapper .contacts {
    background: #c4dff2;
    padding-bottom: 20px;
    position: relative;
    z-index: 2
}

.wrapper .contacts .forms {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%
}

@media (min-width:576px) {
    .wrapper .contacts .forms {
        width: 540px
    }
}

@media (min-width:768px) {
    .wrapper .contacts .forms {
        width: 720px
    }
}

@media (min-width:992px) {
    .wrapper .contacts .forms {
        width: 960px
    }
}

@media (min-width:1200px) {
    .wrapper .contacts .forms {
        width: 1140px
    }
}

.wrapper .contacts .forms .form-input {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.wrapper .contacts .forms .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width:320px) {
    .wrapper .contacts .forms .input {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    .wrapper .contacts .forms .input {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

.wrapper .contacts .forms .input input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000
}

@media (min-width:320px) {
    .wrapper .contacts .forms .text {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    .wrapper .contacts .forms .text {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

.wrapper .contacts .forms .text textarea {
    margin-top: 9px;
    padding: 10px;
    width: 100%;
    height: 162px;
    color: #000
}

.wrapper .contacts .forms button {
    background: initial;
    display: block;
    margin: 20px auto;
    padding: 10px 35px;
    text-transform: uppercase;
    color: #2ea3f2;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #2ea3f2;
    font-size: 18px;
    transition: .5s
}

.wrapper .contacts .forms button:hover {
    background: #2ea3f2;
    color: #fff
}

.wrapper .new-contacts {
    background: #2ea3f2;
    padding-top: 80px;
    margin-top: -80px;
    position: relative;
    z-index: 1
}

.wrapper .new-contacts h1 {
    color: #fff
}

.wrapper .new-contacts .divider {
    background: #fff
}

.wrapper .new-contacts .icon {
    color: #fff
}

.wrapper .new-contacts .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%
}

@media (min-width:576px) {
    .wrapper .new-contacts .container {
        width: 540px
    }
}

@media (min-width:768px) {
    .wrapper .new-contacts .container {
        width: 720px
    }
}

@media (min-width:992px) {
    .wrapper .new-contacts .container {
        width: 960px
    }
}

@media (min-width:1200px) {
    .wrapper .new-contacts .container {
        width: 1140px
    }
}

.wrapper .new-contacts .container .tel {
    text-align: center;
    color: #fff;
    font-size: 20px
}

.wrapper .new-contacts .container .tel i {
    margin-right: 10px
}

.wrapper .new-contacts .container .email {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 20px
}

.wrapper .new-contacts .container .email i {
    margin-right: 10px
}

.wrapper .new-contacts .container .email a {
    color: #fff
}

footer {
    background: #2ea3f2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px
}

footer .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%
}

@media (min-width:576px) {
    footer .container {
        width: 540px
    }
}

@media (min-width:768px) {
    footer .container {
        width: 720px
    }
}

@media (min-width:992px) {
    footer .container {
        width: 960px
    }
}

@media (min-width:1200px) {
    footer .container {
        width: 1140px
    }
}

footer .container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

footer .container .brand {
    color: #fff;
    font-weight: 700;
    font-size: 18px
}

@media (min-width:320px) {
    footer .container .brand {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    footer .container .brand {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

footer .container .social {
    text-align: right
}

@media (min-width:320px) {
    footer .container .social {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

@media (min-width:768px) {
    footer .container .social {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 1px
    }
}

footer .container .social a {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
    transition: .5s
}

footer .container .social a:hover {
    opacity: .6
}

@media (max-width:1200px) {
    .wrapper .services .container .row .box .info {
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        font-size: 24px
    }
    .wrapper .services .container .row .box .info p {
        font-size: 20px
    }
    .wrapper .best .container .row .delimiter {
        display: none
    }
    .wrapper .best .container .row {
        margin-right: 0;
        margin-left: 0
    }
    .wrapper .best .container .row .best-box {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
        margin-bottom: 20px
    }
}

@media (max-width:1900px) {
    header .nav .container .logo img {
        width: 80%;
        padding-top: 10px
    }
    .nav {
/*        border-bottom: 2px solid #2ea3f2*/
    }
    #menu,
    #menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid #2ea3f2;
        border-bottom: 1px solid #2ea3f2;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    header .nav nav ul li {
        border-left: 1px solid #2ea3f2;
        border-right: 1px solid #2ea3f2
    }
    .main-menu {
        display: block;
        padding-top: 10px
    }
    header .home-content .container .logo img {
        width: 260px
    }
    header .home-content .container .content .first {
        font-size: 36px
    }
}

@media (max-width:992px) {
    .wrapper .client .row {
        margin-left: 0;
        margin-right: 0
    }
    .wrapper .client .info-client {
        margin-bottom: 20px
    }
    .wrapper .client p.header {
        margin-right: 15px;
        margin-left: 15px
    }
}

@media (max-width:825px) {
    #menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    #menu,
    #menu.open-menu {
        padding: 0
    }
    header .nav nav ul li {
        border: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 2px solid #2ea3f2
    }
    .wrapper h1 {
        font-size: 26px
    }
}

@media (max-width:768px) {
    .wrapper .services .container .row .box {
        margin-right: 15px;
        margin-left: 15px;
        border: 1px solid #000;
        box-shadow: 0 0 10px
    }
    .wrapper .services .container .row .box .banner {
        padding-right: 0;
        padding-left: 0
    }
    .wrapper .services .container .row .box .info {
        text-align: center;
        font-size: 24px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 10px
    }
    .wrapper .services .container .row .box .info p {
        font-size: 18px
    }
    .wrapper .package .container .box1 {
        margin-bottom: 30px
    }
    .wrapper .package .container .row {
        margin-right: 0;
        margin-left: 0
    }
    .wrapper .equipment h2 {
        width: 90%
    }
    .wrapper .equipment .container .equipment-slide img {
        margin-bottom: 20px
    }
    footer .container .brand {
        text-align: center;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }
    footer .container .social {
        text-align: center;
        margin-bottom: 10px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
}

@media (max-width:600px) {
    header .home-content .container .logo img {
        width: 300px
    }
    header .home-content .container .content .first {
        font-size: 50px
    }
    .wrapper .package .container .box .info img {
        width: 60%
    }
    .wrapper .package .container .box .info h4 {
        font-size: 24px
    }
    .wrapper .package .container .box .info p,
    .wrapper .package .container .box .info p.last {
        font-size: 20px
    }
}

@media (max-width:500px) {
    .wrapper .best .container .row .best-box {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
    .wrapper .new-contacts .container .tel {
        font-size: 16px
    }
    .wrapper .new-contacts .container .email {
        font-size: 16px;
        padding-bottom: 20px
    }
}

@media (max-width:415px) {
    header .home-content .container .logo img {
        width: 200px
    }
    header .home-content .container .content .first {
        font-size: 36px
    }
    .wrapper h1 {
        font-size: 24px;
        padding-right: 15px;
        padding-left: 15px
    }
    .wrapper .cig p {
        font-size: 16px;
        text-align: center
    }
}

@media (max-width:360px) {
    header .home-content .container .content .first {
        font-size: 16px
    }
    header .home-content .container .content .last {
        font-size: 13px
    }
    .wrapper .services .container .row .box {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .wrapper .services .container .row .box .banner {
        width: 100%
    }
    .services .banner {
        width: 90%
    }
    .services .info {
        width: 90%;
        text-align: center
    }
    .wrapper .package .container .box .header p {
        font-size: 20px
    }
    .wrapper .package .container .box .header p.last {
        font-size: 18px
    }
    .wrapper .package .container .box .info img {
        width: 50%
    }
    .wrapper .package .container .box .info h4 {
        font-size: 20px
    }
    .wrapper .package .container .box .info p,
    .wrapper .package .container .box .info p.last {
        font-size: 16px
    }
}

@media (max-width:320px) {
    header .home-content {
        margin-top: 100px
    }
    header .home-content .container .content .first {
        font-size: 13px
    }
}

a.blue {
    display: block;
    position: relative;
    width: 155px;
    height: 38px;
    margin: 0 auto;
    padding: 12px 0 0 65px;
    background:
            -webkit-gradient(linear, left top, left bottom, from(#bcdeeb), to(#7cbdd7));
    background:
            -webkit-linear-gradient(top, #bcdeeb, #7cbdd7);
    background:
            -moz-linear-gradient(top, #bcdeeb, #7cbdd7);
    background:
            -o-linear-gradient(top, #bcdeeb, #7cbdd7);
    background:
            -ms-linear-gradient(top, #bcdeeb, #7cbdd7);
    background:
            linear-gradient(to bottom, #bcdeeb, #7cbdd7);
    background-color: #85c2da;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow:
            0 0px 3px 0 #fff inset,
            0 -1px 0 0 rgba(255,255,255,.05) inset;
    -webkit-box-shadow:
            0 0px 3px 0 #fff inset,
            0 -1px 0 0 rgba(255,255,255,.05) inset;
    box-shadow:
            0 0px 3px 0 #fff inset,
            0 -1px 0 0 rgba(255,255,255,.05) inset;
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

a.blue::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background-color: #3c8dac;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#85c2da), to(#3c8dac));
    background-image: -webkit-linear-gradient(top, #85c2da, #3c8dac);
    background-image: -moz-linear-gradient(top, #85c2da, #3c8dac);
    background-image: -o-linear-gradient(top, #85c2da, #3c8dac);
    background-image: -ms-linear-gradient(top, #85c2da, #3c8dac);
    background-image: linear-gradient(to bottom, #85c2da, #3c8dac);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.button-hot {
    width: 500px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 20px 70px;
    font-size: 24px;
    border: 1px solid #2d6898;
    background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(73,132,180)),
            color-stop(1, rgb(97,155,203))
    );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.button:active {
    background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -o-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(88,154,204)),
            color-stop(1, rgb(90,150,199))
    );
}
/*# sourceMappingURL=../css/main.css.map */